*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.button{
    padding: 16px 43px 21px;
    width: 205px;
    height: 52px;
    border-radius: 26px;
    background-color: #f1cdb3;
}
.section__title{
    padding: 66px 0;
}
.section__title_right{
    margin: 24px 0 29px;
    padding: 0;
}
.article__text{
    margin: 0 0 24px;
}
