.about-us{
	display: flex;
	.about-us-block{
		width: 50%;
		.about-img{
			max-width:560px;
			height: 560px;
			overflow: hidden;
			.about__img{
				height: 100%;
			}
		}
		.about__slogan{
			.slogan{
				display: block;
				max-width: 365px;
			}
		}
		.about__text{
			max-width:480px;
			margin-bottom: 20px;
		}
	}
}