.our-best-work{
	margin-bottom: 50px;
	.best-works{
		width: 1180px;
		margin: 37px auto 0;
		.best-works__item{
			margin: 14px;
			display: none;
			justify-content: center;
			align-items: center;
			width: 364px;
			height: 364px;
			overflow: hidden;
			img{
				height: 100%;
	       	width: auto;
			}
		}
		.best-works__item:nth-child(2n){
			height: 590px;
		}
	}
	.button{
		margin: 36px auto 0;
	}
}
.image-source-link {
	color: #98C3D1;
}
.mfp-counter{
	@include bold(18px);
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	overflow:hidden;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
@media (min-width: 1568px){
	.full{
		width: 1568px !important;
	}
}
@media (min-width: 1960px){
	.full{
		width: 1960px !important;
	}
}