.price-section{
	padding: 73px 18% 77px;
	background: #000000;
	.price{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.title__line{
			background:#fff;
		}
	}
}
@media(max-width:950px){
	.price-section{
		.price{
			flex-direction: column;
			.title__line{
				margin: 20px 0;
			}
			.button{
				margin-top: 20px;
			}
		}
	}
}