.services{
	.service{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		.service-img{
			max-width: 560px;
			height:560px;
			overflow: hidden;
			margin-right: 15px;
			.service-img__image{
				width: 100%;
			}
		}
		.article{
			margin-left: 80px;
			max-width: 40%;
		}
	}
}