.services{
	.service{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		padding: 50px 0;
		.service-img{
			max-width: 560px;
			height:560px;
			overflow: hidden;
			margin-right: 15px;
			.service-img__image{
				width: 100%;
			}
		}
		.article{
			padding-left: 80px;
			max-width: 50%;
			.title__line{
			    margin: 14px 0 23px;
			}
			.button{
				margin-top: 44px;
			}
		}
	}
	.service:nth-child(3){
		flex-direction: row-reverse;
		.article{
			padding-left: 0;
			padding-right: 80px;
		}
		.service-img{
			margin-left: 15px;
			margin-right: 0;
		}
	}
	.service:last-child{
		padding-bottom: 0;
	}
}