.stat{
	display: flex;
	justify-content: space-around;
	.stat__item{
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
	.stat__number{
		display: block;
	}
	.stat__text{
		display: block;
	}
}