.donation-section{
    padding: 35px 0 80px;
    background: #fafafa;
    .donation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .donation-block{
            max-width: 570px;
            padding-right: 205px;
            .section__title{
                max-width: 361px;
                margin: 24px 0 20px;
            }
            .card__title{
                margin-left: 3px;
            }
            .card{
                width: 319px;
                height: 47px;
                margin: 14px 0 30px 4px;
                border-radius: 9px;
                background-color: #f1cdb3;
                display: flex;
                align-items: center;
                .card__img{
                    padding: 0 15px 0 13px;
                }
            }
        }
        .donation__img{
            padding: 45px 60px 0 0;
        }
    }
}
@media (max-width:1200px){
    .donation-section{
        .donation{
            .donation-block{
                max-width: 400px;
                padding-right: 0;
                .card{
                    .card__img{
                        padding: 0 15px 0 13px;
                    }
                }
            }
            .donation__img{
                padding: 45px 0 0 0;
            }
        }
    }
}
@media (max-width:500px){
    .donation__img img{
        width: 100% !important;
    }
}
