.footer-section{
    background: url(../images/footer/footer-bg.png) no-repeat;
    background-size: cover;
    .footer{
        background: url(../images/footer/footer-img.png) right 36px bottom 0 no-repeat;
        padding-bottom: 45px;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        .footer-block{
            margin: 71px 0 0;
            max-width: 280px;
            .footer__contact{
                margin-top: 27px;
                .contact__item{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    .contact__icon{
                        padding-right: 22px;
                    }
                }
            }
        }
        .footer-block:nth-child(1){
            margin-right: 170px;
        }
        .footer-block:nth-child(2){
            max-width: 300px;
        }
    }
}
@media (max-width:1200px){
    .footer-section{
        background: url(../images/footer/footer-bg.png) no-repeat;
        background-size: cover;
        .footer{
            background: none;
            padding-bottom: 45px;
        }
        .footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .footer-block:nth-child(1){
                margin-right: 0;
            }
            .footer-block:nth-child(2){
                max-width: 300px;
            }
        }
    }
}
