.header-section{
    background: url(../images/header/bg-img.png) no-repeat;
    background-size: cover;
    .header__dog{
        background: url(../images/header/header-img.png) right 0 bottom 0 no-repeat;
    }
    .header{
        .navbar{
            padding: 52px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navbar__logo{
                .top__logo{
                    @include gr(32px);
                    letter-spacing: 1.13px;
                    color: #f1cdb3;
                    display: block;
                }
                .bottom__logo{
                    @include ar(13px);
                    letter-spacing: 1.3px;
                    color: #fff;
                    display: block;
                    padding-top: 6px;
                }
            }
            .navbar__nav{
                padding-top: 6px;
                width: 463px;
                display: flex;
                justify-content: space-between;
            }
        }
        .header-block{
            margin: 240px 0 0 0;
            padding-bottom: 269px;
            .header__title{
                max-width: 350px;
            }
            .article__text{
                color: #cdcdcd;
                max-width: 455px;
                margin: 28px 0 40px;
            }
        }
    }
}
@media (min-width: 1201px) and (max-width:1600px){
    .header-section{
        .header__dog{
            background: url(../images/header/header-img.png) right -150px bottom 0 no-repeat;
        }
    }
}
@media (min-width: 768px) and (max-width:1200px){
    .header-section{
        .header__dog{
            background: url(../images/header/header-img.png) right -400px bottom 0 no-repeat;
        }
        .header-block{
            margin-left: 10% !important;
        }
    }
}
@media (max-width:1000px){
    .header-block{
        margin: 440px 0 269px 0 !important;
        padding-bottom: 69px !important;
        .header__title{
            background: rgba(241,205,179,0.7);
            border-radius: 36px;
            padding: 30px;
            max-width: 460px !important;
        }
        .article__text{
            background: rgba(0,20,20,0.7);
            border-radius: 36px;
            padding: 30px;
            color: #cdcdcd;
            max-width: 455px;
        }
    }
}
