.shelter-section{
    padding: 89px 0;
    background: #fafafa;
    .shelter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .shelter-block{
            max-width: 427px;
            .section__title{
                max-width: 330px;
            }
        }
        .shelter__img{
            margin: 0 120px 0 10px;
        }
    }
}
