.join-us{
    background: url(../images/join-us/section_bg.png) no-repeat;
    opacity: 0.95;
    padding-bottom: 43px;
    .section__title{
        color: #515253;
        font-size: 72px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 57px;
        margin: 0;
    }
    .join-us-block{
        display: flex;
        justify-content: space-between;
        padding: 68px 83px 0 77px;
        .join-us-letter{
            padding: 50px 0 0 0;
            width: 470px;
            height: 260px;
            background: url(../images/join-us/form-bg.png);
            .form-row{
                padding-left: 47px;
                display: flex;
                flex-wrap: wrap;
            }
            .input{
                background: transparent;
                border: none;
                border-left: 1px solid rgba(246, 169, 169, 0.47);
                padding: 5px;
                font-size: 14px;
                resize: none;
            }
            .form__name,
            .form__mail{
                width: 206px;
                margin-bottom: 21px;
            }
            .form__message{
                height: 60px;
                width: 100%;
                padding: 0 0 43px 5px;
            }
            .button{
                display: flex;
                background: transparent;
                border: none;
                margin: 26px auto;
                color: #fefdfb;
                font-size: 31px;
                text-transform: uppercase;
                text-shadow: 2px 2px 0 #6b6c6c;
            }
        }
        .join-us__item{
            position: relative;
        }
        .wrapper{
            position: relative;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        }
        .wrapper:before{
            z-index: 5;
            height: 68px;
            width: 100px;
            top: -27px;
            left: -18px;
            position: absolute;
            content: "";
            display: block;
            background: url(../images/join-us/tape.png) top left no-repeat;
        }
        .wrapper:after{
            z-index: 5;
            height: 68px;
            width: 100px;
            top: -8px;
            right: -41px;
            transform: rotate(80deg);
            position: absolute;
            content: "";
            display: block;
            background: url(../images/join-us/tape.png) top left no-repeat;
        }
        .join-us__item:after{
            width: 100%;
            height: 13px;
            position: absolute;
            content: "";
            display: block;
            bottom: -13px;
            background: url(../images/join-us/note_shadow.png) bottom no-repeat;
        }
    }
}
