footer{
    background: #c0301c;
    padding: 100px 0;
    .footer-social-block{
        max-width: 182px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .footer__img{
            cursor: pointer;
            width: 35px;
            height: 35px;
            border: 2px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }
    }
    .title__row{
        background: #fff !important;
        margin: 30px 0 30px;
    }
    .footer__copyright{
        @include r-regular(12px);
        text-transform: uppercase;
        color: #fff;
        display: flex;
        justify-content: center;
    }
}
