.our-works{
    padding: 90px 0 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/our-works/bg-w.jpg);
    .our-works__title{
        @include r-regular(30px);
        color: #fff;
        text-align: center;
        line-height: 44px;
        max-width: 460px;
    }
    .our-works__button{
        @include r-regular(18px);
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 50px;
        border-radius: 2px;
        border: 2px solid #ffffff;
        margin-top: 43px;
    }
}
