.service{
    padding-bottom: 46px;
}
.services-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 7px;
    .service-item{
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px;
        .service__logo{
            width: 90px;
            height: 90px;
            border: 2px solid #dddddd;
            border-radius: 100px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px 0 0 14px;
        }
        .service__text{
            text-align: center;
        }
    }
    .service-item:nth-child(1) .service__logo{
        background: #c0301c;;
    }
}
@media (max-width:1199px){
    .services-block{
        justify-content: space-around;
        .service-item{
            margin: 0 30px 50px;
        }
    }
}
