.section_darker{
    background: #f8f8f8;
}
.header__title{
    @include m-regular(48px);
    text-transform: uppercase;
    color: #fff;
}
.header__subtitle{
    @include r-regular(20px);
    text-transform: capitalize;
    color: #fff;
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__title{
        @include m-regular(20px);
        text-transform: uppercase;
        margin: 95px 0 26px;
    }
    .section__subtitle{
        @include r-regular(16px);
        margin: 24px 0 66px;
    }
    .title__row{
        width: 50px;
        height: 2px;
        background: #555555;
    }
}
.article__title{
    @include m-regular(14px);
    line-height: 24px;
    text-transform: uppercase;
    margin: 23px 0 11px;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    @include r-regular(14px);
    line-height: 24px;
}
.toggler__nav{
    display: none;
}
.button{
    width: 180px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m-regular(16px);
    text-transform: uppercase;
    color: #fff;
}
@media (min-width: 768px) and (max-width:1199px){

}
@media (max-width: 767px){
    .toggler__nav{
        display: block;
        filter: invert(100%);
        img{
            height: 30px;
        }
    }
}
