.posts{
    strong{
        color: #c0301c;
    }
    .section-title{
        .section__title{
            margin-top: 90px;
        }
        .section__subtitle{
            margin-bottom: 31px;
        }
    }
    .posts-block{
        margin-bottom: 63px;
        .post__item{
            padding: 38px 0;
            display: flex;
            flex-wrap: wrap;
            .post__img{
                max-width: 460px;
                height: 322px;
                margin: 0 38px 0 0;
            }
            .post-main{
                max-width: 640px;
                .post-title{
                    display: flex;
                    .post__date{
                        margin-right: 28px;
                        padding: 17px 0 0 5px;
                        align-items: center;
                        @include m-bold(14px);
                        color: #777777;
                        width: 76px;
                        height: 76px;
                        border: 2px solid #555555;
                        line-height: 20px;
                        text-transform: uppercase;
                        letter-spacing: 1.4px;
                        text-align: center;
                        .post-date__day{
                            font-size: 24px;
                            letter-spacing: 2.4px;
                        }
                    }
                    .post-title-text{
                        .post__title{
                            @include m-regular(16px);
                            line-height: 24px;
                            text-transform: uppercase;
                            margin: 9px 0 7px;
                        }
                        .post__author{
                            @include r-italic(13px);
                            line-height: 24px;
                        }
                    }
                }
                .post__text{
                    @include r-regular(14px);
                    line-height: 24px;
                    margin: 17.5px 3px 26px;
                }
                .post__button{
                    @include r-bold(13px);
                    letter-spacing: 1.3px;
                    text-transform: uppercase;
                }
                .post__button:hover{
                    cursor: pointer;
                    transition: 0.7s;
                    color: #cf6252;
                }
            }
        }
        .post__item:nth-last-child(2){
            border-bottom: 1px solid #dddddd;
        }
    }
}
@media (min-width:768px) and (max-width: 1200px){
    .posts-block{
        margin: 0 20%;
    }
    .post__img{
        margin-bottom: 30px !important;
    }
}
@media (max-width:767px){
    .section__subtitle{
        text-align: center;
    }
    .post__img{
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px !important;
    }
}
