.help-section{
    background: #fafafa;
    .help{
        .section__title{
            max-width: 350px;
            margin: 0 auto;
        }
        .help-block{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .help__item{
                width: 170px;
                .pet__name{
                    display: block;
                    margin-top: 25px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 30px 80px;
            }
        }
    }
}
