@font-face{
    font-family: Gotham-Black;
    src: url(Gotham-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #394b50;

}
.toggle{
    display: none;
}
h1{
    font-family: Gotham-Black;
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: -0.88px;
}
h2{
    font-family: Gotham-Black;
    font-size: 30px;
    letter-spacing: -0.75px;
    line-height: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
h4{
    font-family: 'Lato', sans-serif;
    font-size: 13.5px;
    font-weight: 300;
    margin: 0;
    letter-spacing: -0.88px;
}
p{
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a#logo{
    padding: 22px 0 19px 4px;
    margin-right: 313px;
}
nav ul,
section.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    width: 810px;
}
nav ul li,
section.footer ul li{
    list-style: none;
}
nav ul li a,
section.footer ul li a{
    text-decoration: none;
}
nav ul li a:hover h4,
section.footer ul li a:hover h4{
    background: #FFBB42;
    color: #fff;
    border-radius: 3px;
}
nav ul li a h4,
section.footer ul li a h4{
    color: #868686;
    padding: 7px 19px;
}
header div.wrapper{
    background: linear-gradient(0deg, #fff 15%, #709dca 15%);
}
header div.wrapper h1{
    margin-top:110px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
header div.wrapper h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}
div.wrapper form{
    margin: 33px 0 67px;
    display: flex;
}
div.wrapper form input{
    width: 281px;
    height: 46px;
    margin-right: 10px;
    padding-left: 41px;
    border: none;
    border-radius: 3px;
}
div.wrapper form input:nth-child(1){
    background: url(../img/1.png) no-repeat 15px 15px;
    background-color: #ffffff;
}
div.wrapper form input:nth-child(2){
    background: url(../img/2.png) no-repeat 15px 15px;
    background-color: #ffffff;
}
header div.wrapper form input:nth-child(3){
    background: url(../img/3.png) no-repeat 15px 15px;
    background-color: #ffffff;
}
button{
    height: 46px;
    background-color: #ffbb42;
    border: none;
    border-radius: 3px;
    color: #fff;
}
div.wrapper form button{
    width: 211px;
}
.slider .item{
    position: relative;
    height: 344px;
}
.slider{
    overflow: hidden;
    height: 344px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}
.slider .item img {
    height: 100%;
}
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
.slider .item {
    animation: slide-in 1s ease-in-out 0s, slide-out 1s ease-in-out 5.1s;
}
section.services h2,
section.how-it-works h2,
section.happy h2,
section.newsletter h2{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.75px;
    margin-top: 95px;
}
section.services h5,
section.how-it-works h5,
section.happy h5,
section.newsletter h5{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
div.services{
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
    margin-bottom: 80px;
}
div.services .services-1,
div.services .services-2{
    max-width: 50%;
}
div.services div.service{
    display: flex;
    margin-bottom: 79px;
    margin-right: 55px;
}
div.services div.service span p{
    height: 57px;
    max-width: 442px;
}
div.services div.service span h4{
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 0 11px 1px;
}
div.services .service div.service-icon{
    min-width: 108px;
    display: flex;
    justify-content: center;
}
section.about-us div.wrapper{
    display: flex;
    flex-direction: row;
}
div.about-us-left,
div.about-us-right{
    width: 50%;
    height: 623px;
}
div.about-us-left{
    background: url(../img/Layer_27.png);
    background-size: cover;
    background-repeat: no-repeat;
}
div.about-us-right{
    background: #ffc155;
}
div.about-us-right h2{
    margin: 164px 0 21px 81px;
    color: #fff;
}
div.about-us-right P{
    margin: 0 0 28px 80px;
    line-height: 24px;
    color: #fff;
    max-width: 505px;
}
div.about-us-right button{
    width: 145px;
    border: 1px solid #e7ad48;
    background-color: #e7ad48;
    margin-left: 80px;
}
section.price{
    background: #e7edf3;
}
section.price div.wrapper h2{
    margin-top: 137px;
    margin-bottom: 5px;
}
section.price div.wrapper h5,
section.newsletter h5{
    color: #75888d;
    margin-bottom: 49px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

}
section.price div.prices{
    display: flex;
    align-items: center;
    margin-bottom: 164px;
}
section.price div.prices div.price-1{
    width: 385px;
    height: 441px;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.price div.prices div.price-2{
    width: 395px;
    height: 501px;
    background-color: #709dca;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.price-1 h3,
div.price-2 h3{
    margin: 57px 0 20px;
    color: #818b95;
    font-family: Lato;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
div.price-2 h3{
    margin-top: 87px;
}
div.price-1 p,
div.price-2 p{
    color: #818b95;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 27px;
}
span.price{
    color: #ffbb42;
font-family: "Lato";
font-size: 60px;
font-weight: 700;
}
span.price sup{
    color: #ffbb42;
    font-size: 35px;
}
div.price-1 ul,
div.price-2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.price-1 ul li,
div.price-2 ul li{
    text-transform: uppercase;
    color: #b5bbc1;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    list-style-type: none;
    border-top: 1px solid #e2e9f0;
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.price-1 button,
div.price-2 button{
    width: 131px;
    height: 42px;
    background-color: #ffbb42;
    margin-top: 18px;
}
div.price-2 h3,
div.price-2 ul li,
div.price-2 span,
div.price-2 span sup,
div.price-2 p{
    color:#fff;
}
section.how-it-works{
    position: relative;
}
section.how-it-works h2,
section.newsletter h2{
    margin-top: 155px;
    margin-bottom: 5px;
}
section.how-it-works div.steps{
    display: flex;
    justify-content: space-between;
    width: 1113px;
    margin-top: 105px;
}
section.how-it-works div.steps div.step{
    max-width: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.how-it-works div.steps div.step p{
    text-align:center;
}
section.how-it-works div.steps div.step h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin: 93px 0 20px;
}
section.how-it-works div.steps div.step-image{
    height: 68px;
}
section.how-it-works div.steps div.step-image img:not(#step-unic){
    margin-top: 5px;
}
div.step-z1{
    z-index: 1;
    position: absolute;
    display: flex;
    top:279px;
}
div.step-z1 div:nth-child(2){
    margin: 96px 171px 0;
}
section.how-it-works button{
    width: 165px;
    background-color: #ffbb42;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 88px;
    margin-bottom: 149px;
}
section.happy{
    background-color: #ffc155;
}
section.happy h2{
    margin-top: 141px;
    margin-bottom: 5px;
    color: #fff;
}
section.happy h5{
    color: #fff;
    margin-bottom: 58px;;
}

section.happy div.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 36px;
    margin-bottom: 160px;
}
section.happy div.cards div.card{
    width: 567px;
    height: 241px;
    background: #fff;
    border-radius: 3px;
    display: flex;
}
section.happy div.cards div.card div:nth-child(1){
    margin: 43px 31px 0 30px;
}
section.happy div.cards div.card blockquote{
    margin: 44px 41px 20px 0;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
}
section.happy div.cards div.card h4{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0;
    color:#99a9ae;
}
section.happy div.cards div.card h4 strong{
    color:#f89b63;
}
section.happy div.cards div.card blockquote:before{
    content: url(../img/01.png);
    z-index: 1;
    position: absolute;
    left: -18px;
    top:-5px;
}
section.happy div.cards div.card blockquote:after{
    content: url(../img/01.png);
    transform: scaleX(-1);
    z-index: 1;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;

}
section.newsletter h2{
    margin-top: 150px;
}
section.newsletter h5{
    margin-bottom: 38px;
}
section.newsletter form{
    margin: 0 0 53px 83px;
}
section.newsletter form input:nth-child(1){
    width: 308px;
    border: 1px solid #cbcbcb;
}
section.newsletter form input:nth-child(2){
    width: 388px;
    border: 1px solid #cbcbcb;
    background: url(../img/3.png) no-repeat 15px 15px;
}
section.newsletter form button{
    width: 218px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
section.newsletter div.map{
    width: 1102px;
    height: 549px;
    background: url(../img/Layer_13.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.newsletter div.map div.address{
    background: url(../img/Shape_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    width: 279px;
    height: 292px;
}
section.newsletter div.map div.address h4{
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align:center;
    margin-top: 60px;
    margin-bottom: 10px;
}
section.newsletter div.map div.address address{
    color: #aeb7ba;
    font-family: "Open Sans";
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-align:center;
}
section.newsletter div.map div.address address a{
    color: #aeb7ba;
    font-family: "Open Sans";
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
section.newsletter div.map div.address address strong a{
    color: #ffbb42;
}
section.newsletter div.map div.logo-end{
    background: url(../img/Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
}
hr{
    margin: 59px auto 56px;
    width: 1170px;
    color: #e3e7ec;
}
section.footer ul{
    width: 766px;
}
section.footer address{
    margin:10px 0 15px ;
}
section.footer address img{
    margin: 0 5px;
}
section.footer a{
    font-family: Lato;
    font-size: 23px;
    font-weight: 400;
    line-height: 24.15px;
    text-decoration: none;
    font-style: normal;
}
section.footer div.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    margin-bottom: 48px;
}
footer{
    background-color: #709dca;
}
footer span{
    margin: 10px 0 10px;
}
footer copyright{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
@keyframes slide-in {
   0% {
      transform: translateX(-100vw);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes slide-out {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(100vw);
   }
}
@keyframes slide-in-mobile {
   0% {
      transform: translateX(-150vw);
   }
   100% {
      transform: translateX(30%);
   }
}
@keyframes slide-out-mobile {
   0% {
      transform: translateX(30%);
   }
   100% {
      transform: translateX(150vw);
   }
}
@keyframes slide-in-bottom {
   0% {
      transform: translateY(-300px);
       height: 0;
   }
   100% {
      transform: translateY(0);
       height: 314px;
   }
}
@media screen and (max-width: 767px){
    div.top{
        height: 100px;
        width: 100%;
        background: #fff;
        z-index: 10;
    }
    div.bottom{
        height: 0;
        margin: 0 10px 0 auto;
    }
    nav{
        min-height: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    nav div ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 15px;
    }
    nav a#logo{
        padding-left: 0;
        position: absolute;
        left: 15px;
        top: 0px;
        z-index:11;
    }
    label.toggle {
        font-weight: 900;
        font-size: 1.2em;
        padding: 35px 20px;
        display: block;
        position: absolute;
        right: 15px;
        top: 0px;
        z-index:11;
    }
    nav div ul li{
        margin: 7px;
    }
    nav div ul{
        transform: translateY(-300px);
    }
    input.toggle,
    .toggle span {
        display: none;
    }
    input[type=checkbox]:checked ~ div ul {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    input[type=checkbox]:checked ~ div ul{
        transform: translateY(0);
    }
    input[type=checkbox]:checked ~ div.bottom{
        height: inherit;
        animation: slide-in-bottom 1s ease-in-out;
    }
    h1{
        margin: 40px 0 0 15px !important;
        font-size: 45px;
        line-height: 40px !important;
    }
    h5{
        display: none;
    }
    div.input-row{
        order:1;
    }
    div.input-row form input{
        border: 1px solid #a9a9a9 !important;
    }
    div.slider{
        order: 0;
        margin: 50px;
    }
    div.input-row form{
        flex-direction: column;
    }
    div.input-row form input{
        margin-bottom: 7px;
    }
    div.slider-dots{
        display: none;
    }
    .slider .item {
    animation: slide-in-mobile 1s ease-in-out 0s, slide-out-mobile 1s ease-in-out 5.1s;
    }
    div.slider div.item{
        transform: translateX(30%);
    }
    header div.wrapper{
        background: linear-gradient(0deg, #fff 45%, #709dca 45%);
    }
    div.services{
        flex-direction: column;
    }
    div.service{
        margin-right: 0!important;
    }
    div.services div.services-1,
    div.services div.services-2{
        max-width: 100%;
    }
    div.service-icon{
        min-width: 90px !important;
    }
    div.services .service span p{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin-bottom: 0 !important;
        height: unset !important;
    }
    section.services h2 {
        margin-top: 0;
    }
    section.about-us div.wrapper{
        flex-direction: column;
    }
    div.about-us-left{
        width: 100%;
        height: 100vw;
    }
    div.about-us-right{
        width: 100%;
        height: 523px;
    }
    div.about-us-right h2{
        margin: 64px 0 21px 51px;
    }
    div.about-us-right p{
        margin: 0 40px 28px 50px;
    }
    div.about-us-right button{
        margin-left: 50px;
    }
    section.price div.prices{
        flex-direction: column;
        width: 100%;
    }
    section.price div.prices div.price-1{
        width: 90%;
        height: 441px;
    }
    section.price div.prices div.price-2{
        width: 95%;
        height: 441px;
    }
    div.price-1 ul,
    div.price-2 ul{
        width: 90%;
    }
    div.price-1 ul li,
    div.price-2 ul li{
        width: 90%;
    }
    div.price-2 button{
        margin-bottom: 78px;
    }
    div.price-2{
        height: 501px !important;
    }
    div.prices{
        margin-bottom: 50px !important;
    }
    section.price div.wrapper h2,
    section.how-it-works div.wrapper h2,
    section.happy div.wrapper h2,
    section.newsletter h2{
        margin: 50px 0 30px;
    }
    section.how-it-works div.steps{
        flex-direction: column;
        width:auto;
    }
    div.step-z1{
        display: none;
    }
    section.how-it-works div.steps{
        margin-top: 0;
    }
    section.how-it-works div.steps div.step h3{
        margin: 20px 0 20px !important;
    }
    section.how-it-works div.steps div.step{
        margin: 10px 0 60px;
    }
    section.how-it-works button{
        margin: 0 0 40px;
    }
    section.happy div.cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    section.happy div.cards div.card{
        flex-direction: column;
        width: 95%;
        margin-bottom: 20px;
        height: 350px;
    }
    section.happy div.cards div.card blockquote{
        margin: 0 7px 10px 17px;
    }
    section.happy div.cards div.card div{
        margin: 20px 25px 0!important;
    }
    section.newsletter div.input-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.newsletter form{
        align-items: center;
        margin: 0;
    }
    section.newsletter form input{
        width: 281px !important;
    }
    hr{
        width: 95vw;
        margin-top: 0;
        margin-bottom: 20px;
    }
    section.footer ul{
        display: flex;
        flex-direction: column;
    }
    footer span{
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1249px){
    nav a#logo {
        margin-right: 20px;
    }
    nav ul, section.footer ul{
        width: 610px;
    }
    hr{
        width: 95vw;
    }
    div.input-row{
        order:1;
    }
    div.input-row form input{
        border: 1px solid #a9a9a9 !important;
    }
    div.slider{
        order: 0;
        margin: 50px;
    }
    div.input-row form{
        flex-direction: column;
    }
    div.input-row form input{
        margin-bottom: 7px;
    }
    div.services div.service span p{
        height: 157px;
    }
    div.about-us-right p{
        margin:  0 10px 28px 30px;
    }
}
@media (min-width: 1250px){

}
