@media (min-width: 1200px){
.athlets__section{
    background: linear-gradient(to bottom, #fff 42.19%,  #f5f4fa 42.19%, 69%, #5e42b0 69%);
}
.athlets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        max-width: 51%;
        padding-left: 93px;
        .section__title{
            margin-bottom: 0px;
            padding: 20px 5px 0;
        }
        .articles-list{
            .arcticle__item:nth-child(1){
                padding: 66px 0 35px;
                .sport__text{
                    padding-left: 3px;
                }
            }
            .arcticle__item:nth-child(2){
                padding: 59px 0 39px;
            }
            .arcticle__item:nth-child(3){
                padding: 84px 0 80px;
            }
            .arcticle__item{
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 16px 0 20px;
                    line-height: 28px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 45%;
        .athlets__img{
            position: absolute;
            top: 40px;
            right: -85px;
        }
    }
}
}
@media (min-width: 768px) and (max-width:1199px){
.athlets__section{
    background: linear-gradient(to bottom, #fff 44.5%, #f5f4f9 44.5%, 74.2%, #5e42b0 74.2%);
}
.athlets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        max-width: 61%;
        padding-left: 0;
        .section__title{
            margin: 0px;
            padding: 64px 0 0 4px;
        }
        .articles-list{
            .arcticle__item:nth-child(1){
                padding: 29.5px 0 20px;
                .sport__text{
                    padding-left: 3px;
                }
            }
            .arcticle__item:nth-child(2){
                padding: 34.5px 0 14px;
            }
            .arcticle__item:nth-child(3){
                padding: 33px 0 10.5px;
                br{
                    display: none;
                }
            }
            .arcticle__item{
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 16px 0 20px 4.5px;
                    line-height: 28px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 35%;
        .athlets__img{
            position: absolute;
            top: 93px;
            width: 513px;
            right: -50px;
        }
    }
}
}
@media (max-width: 767px){
.athlets__section{
    background: linear-gradient(to bottom, #fff 52.19%,  #f5f4f9 52.19%);
}
.athlets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        max-width: 100%;
        .section__title{
            margin: 0px;
            padding: 16px 9px 233px;
        }
        .articles-list{
            .arcticle__item{
                padding: 76px 0 0 5px;
                width: 100%;
                height: 283px;
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 19px 0 20px 3px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 0;
        .athlets__img{
            position: absolute;
            height: 281px;
            top: 80px;
            left: 52px;
        }
    }
}
    .carousel-item {
  border: 1px solid black;
  cursor: grab;
  position: relative;
  overflow-wrap: break-word;
}
}
