@media (min-width: 1200px){
.be-active{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .be-active-block{
        width: 50%;
        height: 730px;
        .motivate__line{
            margin-left: 6px;
            width: 22px;
            height: 5px;
            border-radius: 2px;
            background-color: #5e42b0;
        }
    }
}
.be-active__section{
    .be-active{
        .be-active-imgblock{
            background: url('../../images/motivate/be-active-bg.jpg') no-repeat center;
            background-size: cover;
        }
        .be-active-textblock{
            padding: 165.5px 0 0 122px;
            .motivate__text{
                padding: 17px 0px 87px 5px;
                max-width: 335px;
            }
        }
    }
}
.find-contact__section{
    .be-active{
        .be-active-imgblock{
            background: url('../../images/motivate/find-contact-bg.jpg') no-repeat center;
            background-size: cover;
        }
        .be-active-textblock{
            padding: 165.5px 0 0 9.85%;
            .section__title{
                margin-bottom: 0;
            }
            .motivate__text{
                padding: 51px 0px 118px 5px;
                max-width: 400px;
            }
        }
    }
}
.work-it__section{
    .be-active{
        .be-active-imgblock{
            background: url('../../images/motivate/work-it-bg.jpg') no-repeat center;
            background-size: cover;
        }
        .be-active-textblock{
            padding: 167.5px 0 0 6.21%;
            .section__title{
                margin-left: 7px;
            }
            .motivate__text{
                padding: 9px 0px 92px 5px;
                max-width: 517px;
            }
        }
    }
}
}
@media (min-width: 768px) and (max-width:1199px){
    .be-active{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .be-active-block{
            width: 100%;
            height: 584px;
            .motivate__line{
                margin-left: 6px;
                width: 22px;
                height: 5px;
                border-radius: 2px;
                background-color: #5e42b0;
            }
        }
        .be-active-textblock{
            padding: 70px 0 0 28.5px;
            height: 337px;
            .section__title{
                margin: 0;
            }
            .motivate__text{
                padding: 10px 0px 31.5px 5px;
                max-width: 660px;
            }
        }
    }
    .be-active{
        .be-active-imgblock{
            background: url('../../images/motivate/be-active-bg.jpg') no-repeat center;
            background-size: cover;
        }
    }
    .find-contact__section{
        .be-active{
            .be-active-imgblock{
                background: url('../../images/motivate/find-contact-bg.jpg') no-repeat center;
                background-size: cover;
                order: -1;
            }
            .be-active-textblock{
                padding-top: 60px;
            }
        }
    }
    .work-it__section{
        .be-active{
            .be-active-imgblock{
                background: url('../../images/motivate/work-it-bg.jpg') no-repeat center;
                background-size: cover;
            }
            .be-active-textblock{
                padding-top: 60px;
            }
        }
    }
}
@media (max-width: 767px){
    .be-active{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .be-active-block{
            width: 100%;
            height: 351px;
            .motivate__line{
                margin-left: 2px;
                width: 22px;
                height: 5px;
                border-radius: 2px;
                background-color: #5e42b0;
            }
        }
        .be-active-textblock{
            padding: 30px 0 0 17.5px;
            height: 212px;
            .section__title{
                margin: 0;
            }
            .motivate__text{
                padding: 14px 0px 20.4px 0px;
                max-width: 247px;
            }
        }
    }
    .be-active{
        .be-active-imgblock{
            background: url('../../images/motivate/be-active-bg.jpg') no-repeat center;
            background-size: cover;
        }
    }
    .find-contact__section{
        .be-active{
            .be-active-imgblock{
                background: url('../../images/motivate/find-contact-bg.jpg') no-repeat center;
                background-size: cover;
                order: -1;
            }
            .be-active-textblock{
                height: 196px;
                .motivate__text{
                    padding: 14px 0px 24.4px 0px;
                    max-width: 261px;
                }
            }
        }
    }
    .work-it__section{
        .be-active{
            .be-active-imgblock{
                background: url('../../images/motivate/work-it-bg.jpg') no-repeat center;
                background-size: cover;
            }
            .be-active-textblock{
                height: 225px;
                .motivate__text{
                    padding: 16px 0px 12.4px 0px;
                    max-width: 262px;
                }
            }
        }
    }
}
