header{
    background: url(../../images/header/header-bg.png) no-repeat center;
    background-size: cover;
}
.header{
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 54px 8px 297px;
        @include light;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        div{
            @include light;
        }
    }
    .header-title{
        position: relative;
        height: 236px;
        .header-title__text1,
        .header-title__text2{
            position: absolute;
            color: #fff;
            text-transform: uppercase;
            line-height: 92px;
            letter-spacing: 4.5px;
            font-size: 90px;
        }
        .header-title__text1{
            z-index: 3;
        }
        .header-title__text2{
            top: 93px;
            right: 0;
            text-align: end;
            padding-right: 5px;
        }
        .header-title__line{
            z-index: 2;
            position: absolute;
            top : -83px;
            left: 401px;
            width: 254px;
            height: 317px;
            background: linear-gradient(to right bottom,transparent  49%, #5e42b0 49%, #5e42b0 51%, transparent  51% );
        }
        .header-title-row{
            position: absolute;
            top: 195px;
            right: 14px;
            width: 566px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            text-transform: uppercase;
            color: #9071ea;
            .header-title-row__item{
                @include light;
            }
        }
    }
    .download-links{
        padding: 153px 0 110px 0;
    }
}
@media (min-width: 768px) and (max-width:1199px){
.header{
    .top-header{
        padding: 54px 8px 177px;
    }
    .header-title{
        margin: 0 74px;
        .header-title__text1,
        .header-title__text2{
            line-height: 77px;
            font-size: 64px;
            letter-spacing: 3.07px;
        }
        .header-title__text2{
            top: 78px;
            right: 0;
            text-align: left;
            padding: 0 0px 0 108px;
        }
        .header-title__line{
            z-index: 0;
            position: absolute;
            top : -37px;
            left: 172px;
            width: 254px;
            height: 317px;
            background: linear-gradient(to right bottom,transparent  49%, #5e42b0 49%, #5e42b0 51%, transparent  51% );
        }
        .header-title-row{
            position: absolute;
            top: 396px;
            right: -33px;
            width: 666px;
            display: flex;
            justify-content: space-between;
            @include light;
            font-size: 16px;
            text-transform: uppercase;
            color: #9071ea;
            font-size: 16px;
        }
    }
    .download-links{
        padding: 291px 0 92px 0;
    }
}
}
@media (max-width: 767px){
.header{
    .top-header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 8px 132px;
        @include light;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        .header__logo{
            width: 137px;
        }
        div{
            display: none;
        }
    }
    .header-title{
        position: relative;
        height: 85px;
        .header-title__text1,
        .header-title__text2{
            position: absolute;
            color: #fff;
            text-transform: uppercase;
            line-height: 39px;
            letter-spacing: 1.67px;
            font-size: 32px;
        }
        .header-title__text1{
            z-index: 3;
        }
        .header-title__text2{
            position: absolute;
            top: 52px;
            right: 0;
            width: 246px;
            text-align: left;
            padding-right: 0px;
        }
        .header-title__line{
            z-index: 2;
            position: absolute;
            top : -22px;
            left: 76px;
            width: 139px;
            height: 174px;
            background: linear-gradient(to right bottom,transparent  49%, #5e42b0 49%, #5e42b0 51%, transparent  51% );
        }
        .header-title-row{
            position: absolute;
            top: 316px;
            right: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            font-size: 12px;
            text-transform: uppercase;
            color: #9071ea;
            padding: 0 10px;
            .header-title-row__item{
                padding: 4px 10px;
                @include light;
            }
        }
    }
    .download-links{
        padding: 153px 0 110px 0;
    }
}
}
