@media (min-width: 1200px){
    .players__section{
    background: linear-gradient(to bottom, #fff 46.4%, #f5f5f7 46.4%, 72%, #0a0e34 72%);
}
.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        max-width: 42%;
        padding-left: 34.5px;
        .section__title{
            margin-bottom: 0px;
            padding: 20px 2px 0;
        }
        .articles-list{
            .arcticle__item:nth-child(1){
                padding: 63px 0 48px;
                .sport__text{
                    padding-left: 3px;
                }
            }
            .arcticle__item:nth-child(2){
                padding: 57px 0 46px;
                .sport__text{
                    padding:26.5px 0 20px 3px;
                }
            }
            .arcticle__item:nth-child(3){
                padding: 92.5px 0 69px;
                .sport__text{
                    padding: 18px 0 20px 3px;
                }
            }
            .arcticle__item{
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 17px 0 20px;
                    line-height: 28px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 45%;
        .players__img{
            position: absolute;
            top: -30px;
            left: -132px;
        }
    }
}
}
@media (min-width: 768px) and (max-width:1199px){
.players__section{
    background: linear-gradient(to bottom, #fff 44.5%, #f5f4f9 44.5%, 74.2%, #090c35 74.2%);
}
.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        max-width: 53%;
        padding-left: 0;
        .section__title{
            margin: 0px;
            padding: 64px 0 0 4px;
        }
        .articles-list{
            .arcticle__item:nth-child(1){
                padding: 29.5px 0 0;
                .sport__text{
                    padding-left: 3px;
                }
            }
            .arcticle__item:nth-child(2){
                padding: 57.5px 0 45.5px;
                .sport__text{
                    padding: 15.5px 0 20px 5px;
                }
            }
            .arcticle__item:nth-child(3){
                padding: 47px 0 26.5px;
                .sport__text{
                    padding: 15.5px 0 20px 5px;
                }
                br{
                    display: none;
                }
            }
            .arcticle__item{
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 16px 0 12px 4.5px;
                    line-height: 28px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 42.5%;
        .players__img{
            position: absolute;
            top: 35px;
            width: 689px;
            left: -90px;
        }
    }
}
}
@media (max-width: 767px){
.players__section{
    background: linear-gradient(to bottom, #fff 57.19%,  #f5f4f9 57.19%);
}
.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .athlets-block{
        margin-top: 11px;
        max-width: 100%;
        .section__title{
            margin: 0px;
            padding: 16px 9px 233px;
        }
        .articles-list{
            .arcticle__item{
                padding: 76px 0 0 5px;
                width: 100%;
                height: 238px;
                .article-title{
                    display: flex;
                    .article__title{
                        margin: 0;
                    }
                }
                .sport__text{
                    display: block;
                    padding: 19px 0 20px 3px;
                }
            }
        }
    }
    .athlets-img{
        position: relative;
        width: 0;
        .players__img{
            position: absolute;
            height: 249px;
            top: 103px;
            right: 5px;
        }
    }
}
    .carousel-item {
  border: 1px solid black;
  cursor: grab;
  position: relative;
  overflow-wrap: break-word;
}
}

